.d-md-block {
    display: block !important;
}

.inventory-card .inventory-cta {
    padding: 0 0 0 15px;
    background-color: #ffffff;
    display: block;
}

/* .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
} */

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.no-gutters {
    margin-right: 0;
}
.inventory-card {
    letter-spacing: normal;
    line-height: normal;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
}
.inventory-card {
    max-height: 165px;
    margin-left: 0;
    margin-bottom: 24px;
}
*::before, *::after {
    box-sizing: border-box;
}
.mb-30 {
    margin-bottom: 30px !important;
}
#packagePageHolder {
    min-height: 500px;
}
.inventory-card .inventory-details {
    padding-top: 0;
    padding-left: 16px;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.inventory-card .trip-duration {
    font-size: 15px;
    color: #666666;
    margin-bottom: 4px;
}
p {
    margin-top: 0;
}
.inventory-card .places-covered {
    color: #333333;
    margin-bottom: 8px;
}
.inventory-card .places-covered {
    font-size: 16px;
    line-height: 21px !important;
}
.d-md-none {
    display: none !important;
}
.before-discount {
    margin-bottom: 4px;
}
.before-discount {
    display: flex
;
    align-items: center;
}
.before-discount .cancelled-price {
    font-size: 12px;
    font-weight: 600;
    color: #858585;
    text-decoration: line-through;
    line-height: 16px;
}
.before-discount .discount {
    background-color: #3F7A35;
    color: #fff;
    font-size: 10px;
    margin-left: 4px;
    padding: 0 4px;
    border-radius: 0;
}
.inventory-card .price {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333333;
    line-height: 24px;
}
.price {
    color: #237c74;
    font-size: 20px;
    font-family: "Manrope Bold", sans-serif;
}
.inventory-card .price span {
    font-size: 10px;
    line-height: 13px;
    color: #333333;
    font-family: "Manrope", sans-serif;
}
.inventory-card .inventory-details .btn-read-more {
    padding: 8px 16px 8px 16px;
    font-size: 14px;
    line-height: 19px;
}
.btn-read-more:not([href]):not([tabindex]) {
    color: white;
    cursor: pointer;
}
.btn-read-more {
    background-image: linear-gradient(to right, #ff433a, #ff577c);
    color: white;
    font-family: "Manrope Bold", sans-serif;
    font-weight: bold;
}
.btn {
    border-radius: 4px;
    letter-spacing: normal;
}
.w-100 {
    width: 100% !important;
}
.btn {
    display: inline-block;
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

h2, .heading2 {
    font-family: "Manrope Bold", sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}